<div class="jumbotron">
    <div class="title">Listado de Personas</div>
</div>

<div class="container">

    <form>
        <div class="form-group">
            <button class="btn btn-primary mr-2 mb-3" (click)="gotoNewUser()">
                <i class="bi-person-plus-fill"></i>&nbsp;Nueva
            </button>

            <button class="btn btn-outline-primary mb-3" (click)="toggleActive()">
              <i *ngIf="showDisabled" class="bi-toggle-on"></i>
              <i *ngIf="!showDisabled" class="bi-toggle-off"></i>
              &nbsp;{{ btnActive }}
          </button>

            <div class="input-group">
                <input class="form-control border-right-0" type="text" [formControl]="filter">
                <span class="input-group-append bg-white border-left-0">
                <span class="input-group-text bg-transparent">
                  <i class="bi-search text-primary"></i>
                </span>
                </span>
            </div>

        </div>
    </form>

    <br/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <!--<th scope="col">Id</th>-->
                <!--<th scope="col">Active</th>-->
                <th scope="col">Nombre</th>
                <!--<th scope="col">Email</th>-->
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users$ | async as users; index as i" [ngClass]="user.active ? 'enable-row' : 'disabled-row' ">
                <th scope="row">{{ i + 1 }}</th>
                <!--<td>{{ user.uid }}</td>-->
                <!--<td>{{ user.active }}</td>-->
                <td (click)="gotoUser(user)">{{ user.surname }}, {{ user.name }}</td>
                <!--<td>{{ user.email }}</td>-->
                <td class="buttons-3 float-right">
                    <a (click)="editUser(user)">
                        <i class="bi-pencil-square text-primary"></i>
                    </a>
                    <a *ngIf="user.active" (click)="disableUser(user)">
                        <i class="bi-person-dash text-primary"></i>
                    </a>
                    <a *ngIf="!user.active" (click)="enableUser(user)">
                        <i class="bi-person-plus-fill text-primary"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
