<div class="jumbotron">
    <h1 class="text-center">Listado de Usuarios</h1>
</div>

<div class="container">

    <form>
        <div class="form-group form-inline">
            <button class="btn btn-primary m-3" (click)="gotoNewUser()">
                <i class="bi-person-plus-fill"></i>&nbsp;Nuevo Usuario
            </button>

            <div class="input-group">
                <input class="form-control border-right-0" type="text" [formControl]="filter">
                <span class="input-group-append bg-white border-left-0">
                <span class="input-group-text bg-transparent">
                  <i class="bi-search text-primary"></i>
                </span>
                </span>
            </div>
        </div>
    </form>

    <br/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <!--<th scope="col">Id</th>-->
                <!--<th scope="col">Active</th>-->
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users$ | async as users; index as i">
                <th scope="row">{{ i + 1 }}</th>
                <!--<td>{{ user.uid }}</td>-->
                <!--<td>{{ user.active }}</td>-->
                <td>{{ user.surname }}, {{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a (click)="gotoUser(user)">
                        <i class="bi-person-square text-info"></i>
                    </a>&nbsp;&nbsp;
                    <a (click)="editUser(user)">
                        <i class="bi-pencil-square text-success"></i>
                    </a>&nbsp;&nbsp;
                    <a (click)="deleteUser(user)">
                        <i class="bi-trash text-danger" style="font-size: 1rem;"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
