<div class="container-fluid mt-3" *ngIf="sessions$ | async as sessions">

    <h3 class="text-center">Sesiones de la anamnesis</h3>
    <h6 class="text-center" style="color:gray;text-transform: uppercase;">(#{{ sessions.length }}) {{ anamnesisItem.diagnosis }}</h6>

    <div class="container-fluid" *ngIf="sessions.length > 0; else noSessionsTemplate">

        <form>
            <div class="form-group">
                <!--
                <button *ngIf="user.active; else disabledTemplate" class="btn btn-primary m-3" (click)="gotoNewSession()">
                <i class="bi-person-plus-fill"></i>&nbsp;Nueva Sesión
                </button>
                -->

                <div class="input-group mt-3">
                    <input class="form-control border-right-0" type="text" [formControl]="filter">
                    <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                    <i class="bi-search text-primary"></i>
                  </span>
                    </span>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">🌡️</th>
                    <th class="td-collapsed-table" scope="col">Info</th>
                    <th class="td-extra" scope="col">Fecha</th>
                    <th class="td-extra" scope="col">Síntomas</th>
                    <th class="td-extra" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let session of sessions; index as i">
                    <th scope="row">{{ session.painRank }}</th>
                    <td class="td-collapsed-table" (click)="gotoSession(session)">
                        <small *ngIf="session.date"><i class="bi-calendar"></i> {{ session.date | date:'fullDate'}}<br/></small> {{ session.symptoms }}
                    </td>
                    <td class="td-extra" (click)="gotoSession(session)">{{ session.date | date:'fullDate'}}</td>
                    <td class="td-extra" (click)="gotoSession(session)">{{ session.symptoms }}</td>
                    <td class="td-extra buttons-3 float-right">
                        <a (click)="editSession(session)">
                            <i class="bi-pencil text-primary"></i>
                        </a>&nbsp;&nbsp;
                        <a (click)="deleteSession(session)">
                            <i class="bi-calendar-minus text-primary"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-template #disabledTemplate>
    <div class="alert alert-danger mt-2 text-center" role="alert">
        Esta persona aparece como inactiva.
    </div>
</ng-template>

<ng-template #noSessionsTemplate>
    <div class="alert alert-primary mt-4 text-center" role="alert">
        Aún no hay sesiones para este persona
    </div>
</ng-template>
