<div class="jumbotron">
    <div class="title">Listado de Anamnesis</div>
</div>

<div class="container">

    <form>
        <div class="form-group">
            <div class="input-group">
                <input class="form-control border-right-0" type="text" [formControl]="filter">
                <span class="input-group-append bg-white border-left-0">
              <span class="input-group-text bg-transparent">
                <i class="bi-search text-primary"></i>
              </span>
                </span>
            </div>

        </div>
    </form>

    <br/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="td-collapsed-table" scope="col">Anamnesis Info</th>
                <th class="td-extra" scope="col">Creación</th>
                <th class="td-extra" scope="col">Persona</th>
                <th class="td-extra" scope="col">Diagnóstico</th>
                <th class="td-extra" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let anamnesisItem of anamnesis$ | async as anamnesis; index as i">
                <td class="td-collapsed-table" (click)="gotoAnamnesisItem(anamnesisItem)">
                    <small *ngIf="anamnesisItem.date"><i class="bi-calendar"></i> {{ anamnesisItem.date | date:'fullDate'}}<br/></small>
                    <small *ngIf="anamnesisItem.username"><i class="bi-person-square"></i> {{ anamnesisItem.username }}<br/></small> {{ anamnesisItem.diagnosis }}
                </td>
                <td class="td-extra" (click)="gotoAnamnesisItem(anamnesisItem)">{{ anamnesisItem.date | date:'MMM d'}}</td>
                <td class="td-extra" (click)="gotoAnamnesisItem(anamnesisItem)">{{ anamnesisItem.username }}</td>
                <td class="td-extra" (click)="gotoAnamnesisItem(anamnesisItem)">{{ anamnesisItem.diagnosis }}</td>
                <td class="td-extra buttons-3 float-right">
                    <a (click)="editAnamnesisItem(anamnesisItem)">
                        <i class="bi-pencil-square text-primary"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
