<!-- main app container -->
<div class="container">
    <form [formGroup]="userForm">

        <div class="form-group">
            <label for="uid">uid</label>
            <input type="text" formControlName="uid" class="form-control" placeholder="Identificador" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Email" />
        </div>

        <div class="form-group">
            <label for="displayName">Nombre</label>
            <input type="text" formControlName="displayName" class="form-control" placeholder="Nombre" />
        </div>
    </form>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid" (click)="onSaveForm()">Crear</button>
</div>