<div class="jumbotron">
    <h1 class="text-center">{{ pageTitle }}</h1>
</div>

<div class="container div-page">

    <form [formGroup]="userForm">

        <div *ngIf="!userForm.value.active" class="alert alert-warning mt-2 text-center" role="alert">
            Este usuario aparece como inactivo, por lo que no puede ser modificado
            <hr>
            <button class="btn btn-primary m-2" (click)="enableUser(user)">Activar</button>
            <button class="btn btn-danger m-2" (click)="removeUser(user)">Borrar</button>
        </div>

        <!--
        <div class="form-group ">
            <label for="uid ">uid</label>
            <input type="text " formControlName="uid " class="form-control " placeholder="Identificador " />
        </div>
        -->

        <div class="row ">
            <div class="form-group col-12 col-md-6">
                <label for="name">Nombre</label>
                <input type="text" formControlName="name" class="form-control" placeholder="Nombre" />
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="surname">Apellidos</label>
                <input type="text" formControlName="surname" class="form-control" placeholder="Apellidos" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" placeholder="Email" />
            </div>

            <div class="form-group col-12 col-md-6 ">
                <label for="telephone ">Teléfono</label>
                <input type="text" formControlName="telephone" class="form-control" placeholder="Teléfono" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="address">Dirección</label>
                <input type="text" formControlName="address" class="form-control" placeholder="Dirección" />
            </div>

            <div class="form-group col-12 col-md-6 ">
                <label for="locality">Localidad</label>
                <input type="text" formControlName="locality" class="form-control" placeholder="Localidad" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-12 col-md-6">
                <label for="birthdate ">Nacimiento</label>
                <input type="text" formControlName="birthdate" class="form-control" placeholder="Nacimiento" />
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="occupation ">Profesión</label>
                <input type="text" formControlName="occupation" class="form-control" placeholder="Profesión" />
            </div>
        </div>

        <div class="row ">
            <div class="form-group col-12 ">
                <label for="notes">Notas</label>
                <textarea formControlName="notes" class="form-control" placeholder="Notas"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary m-2" [disabled]="!userForm.valid || !userForm.value.active" (click)="onSaveForm() ">{{ btnText }}</button>
                <button *ngIf="user.uid !== '0'" type="submit" class="btn btn-warning m-2" [disabled]="!userForm.value.active" (click)="disableUser(user) ">Desactivar</button>
            </div>
        </div>

    </form>

</div>
