<div class="div-page" *ngIf="anamnesisItem && user && session; else noSessionTemplate">

    <div class="jumbotron">
        <div class="subtitle">{{ user.date | date:'fullDate' }}</div>
        <div class="subtitle">sesión de {{ user.name }} {{ user.surname }}</div>
        <div class="title">{{ anamnesisItem.diagnosis }}</div>
    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-md-6">

                <div class="card" (click)="gotoUser()">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
                        <div class="card-text my-3">
                            <div class="my-2" *ngIf="user.email">
                                <a><i class="bi-envelope" style="font-size: 1rem;color:gray;" ></i></a> {{ user.email }}
                            </div>
                            <div class="my-2" *ngIf="user.telephone">
                                <a><i class="bi-telephone" style="font-size: 1rem;color:gray;" ></i></a> {{ user.telephone }}
                            </div>
                            <div class="my-2" *ngIf="user.notes">
                                <a><i class="bi-pencil-square" style="font-size: 1rem;color:gray;" ></i></a> {{ user.notes }}
                            </div>

                        </div>

                        <button type="button" class="btn btn-success" (click)="editUser()"><i class="bi-pencil"></i> Editar Datos</button>

                    </div>
                </div>

                <div class="card my-3" (click)="gotoAnamnesisItem()">
                    <div class="card-body">
                        <h5 class="card-title">Anamnesis del {{ anamnesisItem.date | date:'fullDate' }}</h5>
                        <div class="card-text my-3">
                            <div class="my-2" *ngIf="anamnesisItem.diagnosis">
                                <ha><i class="bi-clipboard-check" style="font-size: 1rem;color:gray;"></i> {{ anamnesisItem.diagnosis }}
                                </ha>
                            </div>
                            <div class="my-2" *ngIf="anamnesisItem.reason">
                                <a><i class="bi-broadcast" style="font-size: 1rem;color:gray;" ></i></a> {{ anamnesisItem.reason }}
                            </div>
                            <div class="my-2" *ngIf="anamnesisItem.background">
                                <a><i class="bi-chat-text" style="font-size: 1rem;color:gray;" ></i></a> {{ anamnesisItem.background }}
                            </div>
                            <div class="my-2" *ngIf="anamnesisItem.performance">
                                <a><i class="bi-caret-right-square" style="font-size: 1rem;color:gray;" ></i></a> {{ anamnesisItem.performance }}
                            </div>
                            <div class="my-2" *ngIf="anamnesisItem.notes">
                                <a><i class="bi-pencil-square" style="font-size: 1rem;color:gray;" ></i></a> {{ anamnesisItem.notes }}
                            </div>

                        </div>

                        <button type="button" class="btn btn-success" (click)="editAnamnesisItem()"><i class="bi-pencil"></i> Editar Info</button>

                    </div>
                </div>

            </div>

            <div class="col-12 col-md-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Sessión del {{ anamnesisItem.date | date:'fullDate' }}</h5>
                        <div class="card-text my-3">
                            <div class="my-2" *ngIf="session.painRank">
                                <a><i class="bi-graph-down" style="font-size: 1rem;color:gray;"></i> Grado de dolor: {{ session.painRank }}
                                </a>
                            </div>
                            <div class="my-2" *ngIf="session.symptoms">
                                <a><i class="bi-info-circle" style="font-size: 1rem;color:gray;" ></i></a> {{ session.symptoms }}
                            </div>
                            <div class="my-2" *ngIf="session.treatment">
                                <a><i class="bi-shield-check" style="font-size: 1rem;color:gray; " ></i></a> {{ session.treatment }}
                            </div>
                        </div>

                        <button type="button" class="btn btn-success" (click)="editSession()"><i class="bi-pencil"></i> Editar Info</button>

                        <button type="button" class="btn btn-danger ml-3" (click)="removeSession()"><i class="bi-trash"></i> Eliminar</button>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

<ng-template #noSessionTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
