<div class="container mt-3" *ngIf="sessions$ | async as sessions">

    <h3 class="text-center">Todas sus sesiones</h3>
    <h6 class="text-center" style="color:gray;text-transform: uppercase;">(#{{ sessions.length }}) cualquier anamnesis</h6>

    <div class="container">

        <form>
            <div class="form-group">
                <!--
                <button *ngIf="user.active; else disabledTemplate" class="btn btn-primary m-3" (click)="gotoNewSession()">
                <i class="bi-person-plus-fill"></i>&nbsp;Nueva Sesión
                </button>
                -->

                <div class="input-group mt-3">
                    <input class="form-control border-right-0" type="text" [formControl]="filter">
                    <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                    <i class="bi-search text-primary"></i>
                  </span>
                    </span>
                </div>
            </div>
        </form>

        <table class="table table-striped" *ngIf="sessions.length > 0; else noSessionsTemplate">
            <thead>
                <tr>
                    <th scope="col">🌡️</th>
                    <!--<th scope="col">Id</th>-->
                    <!--<th scope="col">Active</th>-->
                    <th scope="col">Fecha</th>
                    <th scope="col">Síntomas</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let session of sessions; index as i">
                    <th scope="row" style="text-align: right;">{{ session.painRank }}</th>
                    <td>{{ session.date }}</td>
                    <td>{{ session.symptoms }}</td>
                    <td class="32 float-right">
                        <a (click)="editSession(session)">
                            <i class="bi-pencil text-primary"></i>
                        </a>&nbsp;&nbsp;
                        <a (click)="deleteSession(session)">
                            <i class="bi-clipboard-x text-primary"></i>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-template #disabledTemplate>
    <div class="alert alert-danger mt-2 text-center" role="alert">
        Esta persona aparece como inactiva.
    </div>
</ng-template>

<ng-template #noSessionsTemplate>
    <div class="alert alert-primary mt-4 text-center" role="alert">
        No se han encontrado sesiones.
    </div>
</ng-template>
