<div *ngIf="user$ | async as user; else noUserTemplate">

    <div class="jumbotron">
        <h1 class="text-center">Ficha de {{ user.name }}</h1>
    </div>

    <div class="container">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                <button type="button" class="btn btn-success" (click)="editUser()">Editar Datos</button>&nbsp;
            </div>
        </div>

        <sh-user-sessions-list [userId]="user.uid">
            <!-- <div class="card-body">
                <h3 class="card-title">...</h3>
                <button type="button" class="btn btn-success" (click)="editUser()">Editar Datos</button>&nbsp;
            </div> -->
        </sh-user-sessions-list>

    </div>

</div>

<ng-template #noUserTemplate>
    <mat-spinner></mat-spinner>
</ng-template>