<div *ngIf="user$ | async as user; else noUserTemplate">

    <div class="jumbotron">
        <h1 class="text-center">Ficha de {{ user.name }}</h1>
    </div>

    <div class="container-fluid">

        <div class="row">

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 (click)="gotoUser(user)" class="card-title">{{ user.name }} {{ user.surname }}</h5>
                        <div class="card-text my-3">
                            <div *ngIf="user.email">
                                <a><i class="bi-envelope" style="font-size: 1rem;color:gray;" ></i></a> {{ user.email }}
                            </div>
                            <div *ngIf="user.telephone">
                                <a><i class="bi-telephone" style="font-size: 1rem;color:gray;" ></i></a> {{ user.telephone }}
                            </div>
                            <div *ngIf="user.notes">
                                <a><i class="bi-pencil-square" style="font-size: 1rem;color:gray;" ></i></a> {{ user.notes }}
                            </div>

                        </div>

                        <button type="button" class="btn btn-success" (click)="editUser()"><i class="bi-pencil"></i> Editar Datos</button>
                    </div>
                </div>

                <sh-user-anamnesis-list [user]="user"></sh-user-anamnesis-list>

            </div>

            <div class="col-12 col-md-6">

                <sh-user-sessions-list [user]="user"></sh-user-sessions-list>

            </div>

        </div>

    </div>

</div>

<ng-template #noUserTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
