<div class="container">

    <div *ngIf="user$ | async as user; else noUserTemplate" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ user.name }} {{ user.surname }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>

<ng-template #noUserTemplate>
    <mat-spinner></mat-spinner>
</ng-template>
