<div class="container-fluid mt-3" *ngIf="anamnesis$ | async as anamnesis">

    <h3 class="text-center">Sus Anamnesis</h3>

    <div class="container" *ngIf="anamnesis.length > 0; else noAnamnesisTemplate">

        <form>
            <div class="form-group form-inline">
                <button *ngIf="user.active; else disabledTemplate" class="btn btn-primary m-3" (click)="gotoNewAnamnesisItem()">
                  <i class="bi-clipboard-plus"></i>&nbsp;Nueva
                </button>

                <div class="input-group">
                    <input class="form-control border-right-0" type="text" [formControl]="filter">
                    <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                    <i class="bi-search text-primary"></i>
                  </span>
                    </span>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="td-collapsed-table" scope="col">Anamnesis Info</th>
                    <th class="td-extra" scope="col">Creación</th>
                    <th class="td-extra" scope="col">Diagnóstico</th>
                    <th class="td-extra" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let anamnesisItem of anamnesis; index as i">
                    <td class="td-collapsed-table" (click)="gotoAnamnesisItem(anamnesisItem)">
                        <small *ngIf="anamnesisItem.date"><i class="bi-calendar"></i> {{ anamnesisItem.date | date:'fullDate'}}<br/></small> {{ anamnesisItem.diagnosis }}
                    </td>
                    <td class="td-extra" (click)="gotoAnamnesisItem(anamnesisItem)">{{ anamnesisItem.date }}</td>
                    <td class="td-extra" (click)="gotoAnamnesisItem(anamnesisItem)">{{ anamnesisItem.diagnosis }}</td>
                    <td class="td-extra buttons-3 float-right">
                        <a (click)="editAnamnesisItem(anamnesisItem)">
                            <i class="bi-pencil text-primary"></i>
                        </a>
                        <a (click)="removeAnamnesisItem(anamnesisItem)">
                            <i class="bi-clipboard-x text-primary"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<ng-template #disabledTemplate>
    <div class="alert alert-danger mt-2 text-center" role="alert">
        Esta persona aparece como inactiva.
    </div>
</ng-template>

<ng-template #noAnamnesisTemplate>
    <div class="alert alert-primary mt-4 text-center" role="alert">
        Aún no hay anamnesis para esta persona.
        <hr/>
        <button *ngIf="user.active; else disabledTemplate" class="btn btn-primary m-3" (click)="gotoNewAnamnesisItem()">
        <i class="bi-clipboard-plus"></i>&nbsp;Crear
    </button>
    </div>
</ng-template>
