/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
a:hover {
    text-decoration: none;
}

.jumbotron {
    background-color: yellowgreen !important;
    height: 100px !important;
    padding: 20px !important;
}

tr.disabled-row {
    background-color: indianred !important;
    color: darkred;
    .text-primary {
        color: darkred !important;
    }
}

.table,
.div-page {
    margin-bottom: 60px !important;
}

td.buttons-3 {
    width: 100px;
    max-width: 100px;
    display: inline-block;
    text-align: center;
    a {
        margin-right: 8px;
    }
}
