<div class="container mt-3 mb-3 text-center">
    <img src="assets/images/foto-consulta.jpg" class="img-fluid" alt="'Centro de Dietética, Nutrición y Fisioterapia Soraya">
</div>

<div class="container mt-3 mb-3 text-center">

    <a target=" _blank " href="https://www.facebook.com/Centro-De-Diet%C3%A9tica-Nutricion-y-Fisioterapia-Soraya-258772824274842 ">
        <i class="bi-facebook " style="font-size: 4rem; color: #3b5998; "></i>
    </a>
    &nbsp;&nbsp;
    <a target="_blank" href="https://www.instagram.com/sorayanutricionfisioterapia">
        <i class="bi-instagram " style="font-size: 4rem; color:#bc2a8d; "></i>
    </a>
    &nbsp;&nbsp;
    <span *ngIf="afAuth.authState | async as user; else noAuthTemplate">
      <!--
      <a (click)="afAuth.signOut()">
        <i class="bi-sunset-fill " style="font-size: 4rem; color:gray; "></i>
      </a>
      -->
    </span>

</div>

<ng-template #noAuthTemplate>
    <a routerLink="/login">
        <i class="bi-person-circle " style="font-size: 4rem; color:#c9ef26; "></i>
    </a>
</ng-template>